.body-container {

    .slide-show {
        height: 450px;
        width: 100%;
        position: relative;
        .slick-slider {
            position: relative;
            .slick-dots {
                    position: absolute;
                    bottom: 20px;
                    right: 0;
                    width: 15%;
                }
            .slick-prev {
                position: absolute;
                left: 0;
                top: 50%;
                z-index: 2;
                width: 50px;
                margin-left:50px;
                height: 50px;
             

                &::before {
                    font-size: 50px;
                }
            }

            .slick-next {
                position: absolute;
                right: 0;
                top: 50%;
                z-index: 2;
                width: 50px;
                margin-right: 50px;
                height: 50px;
             
                &::before {
                    font-size: 50px;
                }
            }
        }

        .img {
            width: 100%;
            height: 100%;
        }
    }
}